body{
  margin: 0px;
  font-family: 'Mali', cursive;
}
.text-center{
  text-align: center;
}
.menu-wrapper{
  background-color: aquamarine;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
}
.menu-item{
  display: inline-block;
  width: 100px;
}
.menu-item a {
  text-decoration: none;
  color: black
}
.favourite-wrapper{
  margin: 10px 20px;
  text-align: center;
}
.favourite-item{
  text-align: left;
  display: inline-block;
  width: 45%;
  border: 2px dashed #2b87ff
}
.favourite-image{
  display: inline-block;
  width: 100px;
}
.favourite-desc{
  font-size: 12px;
  width: 470px;
  display: inline-block;
  vertical-align: top;
}
.list.wishlist{
  margin-top: 50px;
}
.wishlist-wrapper{
  text-align: center;
}
.wishlist-item{
  display: inline-block;
  width: 45%;
  border: 2px dashed #2bff6b;
}
.footer{
  text-align: center;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  background: linear-gradient(#FFFFFF, rgb(97, 100, 247));
}